.imagenfront{
    width: 75%;
}
.carousel-item.active {
    display: block;
    margin: auto;
    display: flex;
    justify-content: center;
}

h1{
    font-family: 'Conten', sans-serif;
    font-size: 30px;
    font-weight: 600;
    margin: 0;
    padding: 20px;
  }

  img.img{
    border-radius: 30px;
  }