.contador{
    min-width: 300px;
    height:300px;
    font-size: 5em;
    padding: 25px;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 8px solid white;
    margin-bottom: 15px;
    margin-top: 15px;
}
.botones{
    display: flex;
}
@media (max-width: 500px){
    .contador{
        min-width: 20%;
    height:1.6em;
    }
}