

.nav-link {
    text-align: center;
    width: 8em;}


    .active{
        color: rgb(180, 119, 236);
    }

img.logo{
    width: 40%;
    height: auto;
}


 
element.style {
}
.modal-backdrop.show {
    display: none;
}